<div class="floatLeft" style={background-color:yellow}>
    <table class="table">
        <tbody class="thead-dark">
            <tr>
                <td scope="col" ><b>Name</b></td>
                <td scope="col" >05 December 1990</td>
            </tr>
            <tr>
                <td scope="col" ><b>DOB</b></td>
                <td scope="col" >05 December 1990</td>
            </tr>
            <tr>
                <td scope="col"  ><b>IPL Debut</b></td>
                <td scope="col" >2011 </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="floatRight">
    <table class="table">
        <tbody>
            <tr>
                <td scope="col" ><b>Role</b></td>
                <td scope="col" >BOWLER</td>
            </tr>
            <tr>
                <td scope="col" ><b>Batting_hand</b></td>
                <td scope="col" > Right handed</td>
            </tr>
            <tr>
                <td scope="col" ><b>Bowling_skill</b></td>
                <td scope="col" > Fastest</td>
            </tr>
            <tr>
                <td scope="col" ><b>Country</b></td>
                <td scope="col" > India</td>
            </tr>
        </tbody>
    </table>
</div>
